<div class="project">
  <%= link_to project.name, project_path(project) %>
  <div class="project__actions">
    <%= link_to 'Delete', url_for(action: :destroy, id: project.id),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <%= link_to "Edit",
                edit_project_path(project),
                class: "btn btn--light" %>
  </div>
</div>

<br/>
