<%= turbo_frame_tag project do %>
  <div class="project">
    <%= link_to project.name,
                project_path(project),
                data: { turbo_frame: "_top" }%>
    <div class="project__actions">
      <%= link_to 'Delete', project_path(project),
                  class: 'inline-flex items-center rounded-full border border-transparent bg-indigo-600 px-3.5 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2',
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <%= link_to "Edit",
                  edit_project_path(project),
                  class: 'inline-flex items-center rounded-full border border-transparent bg-indigo-600 px-3.5 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2'
                  %>
    </div>
  </div>
  <br/>
<% end %>
